<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Source+Serif+4:opsz,wght@8..60,400;8..60,600;8..60,700&family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    {% include "partials/header.html" %}
    {% include "partials/search_modal.html" %}
    <main>
      {% block content %}{% endblock content %}
    </main>
    {% include "partials/footer.html" %}

    <script src="/elasticlunr.min.js"></script>
    <script src="/search_index.en.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/search.js"></script>
  </body>
</html>
